# Ignore the entire data directory
/data/
dataset/

/notebooks/preprocessing_outputs/
models/**/*.pth
references/papers/

# weigths for sam2 model
src/SAM-2/weights/sam_vit_h_4b8939.pth
src/models/sam2/checkpoints
