# Ignore the entire data directory
/data/
dataset/

**/__pycache__*/

src/models/blip
src/models/blip2
src/models/t5
src/models/clip

models/**/*.pth
models/**/*.pt
references/papers/
*.pth
*.pt
# weigths for sam2 model
src/SAM-2/weights/sam_vit_h_4b8939.pth

*.zip
*.png

# weights for cGAN model
src/data_augmentation/models/
*.pth
*.pt
*.png

